# LetsGrowMoreVIP - Data Science Internship
## intermediate level task-5 - Exploratory Data Analysis on Dataset - Terrorism 
# Author - Pawan suthar

#### dataset link https://drive.google.com/file/d/1luTU7xBvI7QAGPbQMxEHcgKUi9d6UeP_/view

#### Importing the Header Files

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Reading dataset

In [ ]:
data=pd.read_csv('data.csv')

In [ ]:
# Reading first few  values from dataset
data.head()

In [ ]:
# Reading last few values from dataset
data.tail()

#### Renaming the columns for better understanding

In [ ]:
data.rename(columns={'iyear':'Year','imonth':'Month','extended':'Extended','iday':'Day','country_txt':'Country',
           'provstate':'State','region_txt':'Region','attacktype1_txt':'AttackType','target1':'Target',
           'nkill':'Killed','nwound':'Wounded','summary':'Summary','gname':'Group','targtype1_txt':'Target_type',
           'weaptype1_txt':'Weapon_type','motive':'Motive','city':'City','latitude':'Latitude','longitude':'Longitude'},inplace=True)

#### Deleting the unnecassary columns

In [ ]:
data=data[['Year','Month','Extended','Day','Country','State','Region','City','Latitude','Longitude',
           'AttackType','Killed','Wounded','Target','Summary','Group','Target_type','Weapon_type','Motive']]

In [ ]:
#  Getting Updated first few values from dataset
data.head()

In [ ]:
#Total number of rows and columns
data.shape

In [ ]:
data.describe

In [ ]:
# Checking of any null values in dataset
data.isnull().sum()

#### Top 10 Countries With Most Terrorist attacks

In [ ]:
print(data['Country'].value_counts().head(10))

In [ ]:
plt.figure(figsize = (10,5))
sns.barplot(data['Country'].value_counts()[:15].index,data['Country'].value_counts()[:15].values)
plt.title('Top 10 Countries Affected')
plt.xlabel('Countries')
plt.ylabel('count')
plt.xticks(rotation=90)
plt.show()

### Colclusion :
#### 1. Most Affected Country > Iraq.
#### 2. Among top 10 affected countries five are asian.

#### States with most terrorist attacks

In [ ]:
print(data['State'].value_counts().head(10))

In [ ]:
plt.figure(figsize = (10,5))
sns.barplot(data['State'].value_counts()[:15].index,data['State'].value_counts()[:15].values)
plt.title('Top 10 States Affected')
plt.xlabel('States')
plt.ylabel('count')
plt.xticks(rotation=90)
plt.show()

#### Most Affected State: Baghdad

#### Indian States With Most Terrorist Attacks

In [ ]:
data_istates=data[data['Country']=='India']['State']
data_istates.value_counts()[:10]

In [ ]:
plt.figure(figsize = (10,5))
sns.barplot(data_istates.value_counts()[:15].index,data_istates.value_counts()[:15].values)
plt.title('Top 10 States Affected (India)')
plt.xlabel('States')
plt.ylabel('count')
plt.xticks(rotation=90)
plt.show()

### Most Affected State in India: Jammu & Kashmir

#### Cities With Most Terrorist Attacks

In [ ]:
print(data['City'].value_counts().head(10))

In [ ]:
plt.figure(figsize = (10,5))
sns.barplot(data['City'].value_counts()[:15].index,data['City'].value_counts()[:15].values)
plt.title('Top 10 Cities Affected')
plt.xlabel('Cities')
plt.ylabel('count')
plt.xticks(rotation=90)
plt.show()

#### Cities With Most Terrorist attacks is Baghdad since the first one is unknown.

#### Regions With Most Terrorist Attacks

In [ ]:
print(data['Region'].value_counts().head(10))

In [ ]:
plt.figure(figsize = (10,5))
sns.barplot(data['Region'].value_counts()[:15].index,data['Region'].value_counts()[:15].values)
plt.title('Top 10 Regions Affected')
plt.xlabel('Regions')
plt.ylabel('count')
plt.xticks(rotation=90)
plt.show()

#### Years With Most Terrorist Activity

In [ ]:
print(data['Year'].value_counts().head(10))

In [ ]:
plt.figure(figsize = (10,5))
sns.barplot(data['Year'].value_counts()[:15].index,data['Year'].value_counts()[:15].values)
plt.title('Yeras with most terrorist activites')
plt.xlabel('Year')
plt.ylabel('count')
plt.xticks(rotation=90)
plt.show()

#### Year with the most Terrorist Activities : 2014

#### Most involved Terrorist Groups

In [ ]:
print(data['Group'].value_counts().head(10))

In [ ]:
plt.figure(figsize = (10,5))
sns.barplot(data['Group'].value_counts()[:15].index,data['Group'].value_counts()[:15].values)
plt.title('Most Involved Terrorist Group')
plt.xlabel('Group')
plt.ylabel('count')
plt.xticks(rotation=90)
plt.show()

#### Most Active Terrorist Group is Taliban

#### Conclusion:
#### 1. Most afeected country: Iraq
#### 2. Most affected state: Baghdad
#### 3. Most affected state in india: Jammu & Kashmir
#### 4. Years with most terrorist attacks:2014
#### 5. Most active terrorist group: Taliban